@model IEnumerable<xyzWebApp.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h1 class="font-monospace">All categories</h1>

<p>
    <a asp-action="Create" class="btn btn-warning font-monospace text-light">Create New</a>
</p>
<table class="table table-hover font-monospace text-center">
    <thead class="table-secondary">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Image)
                </td>
                <td>
                    <div class="btn-group btn-group-sm" role="group" "...">
                        <a class="btn btn-secondary font-monospace" asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                        <a class="btn btn-dark font-monospace" asp-action="Details" asp-route-id="@item.Id">Details</a> 
                        <a class="btn btn-danger font-monospace" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
