@model IEnumerable<xyzWebApp.Models.Product>

@{
    ViewData["Title"] = "Welcome";
    ViewData["Services"] = "Check out our services list!";
}

<div class="text-center">
    <h3 class="font-monospace">@ViewData["Services"]</h3>
</div>

<div class="d-grid gap-2 col-6 mx-auto">
    <a class="btn btn-dark font-monospace fs-6" asp-area="" asp-controller="Home" asp-action="Services">Services</a>
</div>

<hr />

<form method="get" asp-area="" asp-controller="Home" asp-action="Index" class="row mb-5">
    <div class="col-6">
        <input type="text" class="form-control" name="srchTab" />
    </div>
    <div class="col-4">
        <select class="form-select" name="srchPar">
            <option value="0">Default</option>
            <option value="3">Title A - Z</option>
            <option value="4">Title Z - A</option>
            <option value="1">Price min - max</option>
            <option value="2">Price max - min</option>
        </select>
    </div>
    <div class="col-2">
        <input type="submit" class="btn btn-warning" value="Search" />
    </div>  
</form>


<div class="row">
    @foreach(var item in Model)
    {
        <div class="card col-3 mb-1">
            @{
                string img = !String.IsNullOrEmpty(item.Image) ? "/images/products/" + item.Image : "/images/default.jpg";
            }
            <img src="@img" class="img-fluid rounded-start" alt="...">
            <div class="card-body">
                <h5 class="card-title">@item.Title</h5>
                <p class="card-text">@item.Price.ToString("C2")</p>
                <a class="btn btn-dark btn-lg" asp-action="Details" asp-route-id="@item.Id">Details</a>
            </div>
        </div> 
    }
</div>
